.bg {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.butt {
  background-color: grey;
  color: balck;
}
.Darkmode {
  border-radius: 10px;
  background-color: black;
  color: white;
}

.Lightmode {
  border-radius: 10px;
  background-color: white;
  color:black;
}

'''
// Write your cod
import {Component} from 'react'
import './index.css'

class RandomNumberGenerator extends Component {
  state = {count: 0}

  randomgenerate = () => {
    const Random = Math.ceil(Math.Random * 100)
    this.setState({count: Random})
  }

  render() {
    const {count} = this.state
    return (
      <div className="mainbg">
        <div className="innerbg">
          <h1 className="h">Random number</h1>
          <p className="p">Generate Random number between 0 ot 100</p>
          <button type="button" className="butt" onClick={this.randomgenerate}>
            Generate
          </button>
          <p className="h">{count}</p>
        </div>
      </div>
    )
  }
}

export default RandomNumberGenerator


/* Write your CSS here */
.mainbg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.innerbg {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 50vh;
}
.h {
  color: blue;
  font-size: 30px;
}
.p {
  color: grey;
  font-size: 20px;
}

.butt {
  background-color: blue;
  color: white;
  border-radius: 5px;
  font-size: 30px;
}

